
.headerlogo {
	height:24px;
	padding-left: 100px;
 	margin: 13px 0px 12px 0px;
	float: left;
	width: 25%;
	padding-right: 15px;
	max-height: 24px;
	display: block;
	vertical-align: middle;

}

.headersearch {
	float: left;
		max-width: 400px;
		width: 100%;
		margin: 10px auto 10px auto;
		position: relative;
}

.searchInput {
    width: 100%;
    margin: 0 auto;
    padding: 6px 50px 6px 15px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    font-size: 85%;
    line-height: 16px;
    border-width: 1px;
    border-color: rgba(255,255,255,0.05);
    border-bottom-color: rgba(255,255,255,0.1);
    border-style: solid;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}

.loginDiv {
    width: 100%;
    margin: 0px 0px 0px 0px;
    float: right;
    text-align: right;
    position: relative;
}
.messageIcon, .notificationIcon {
	font-size: 18px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    position: relative;
    top: 2px;
}
.messageIconSpan, .notificationIconSpan {
	  position: absolute;
    top: 11px;
    left: 50%;
    display: block;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #f2f2f2;
    background: rgba(0,0,0,0.8);
    font-weight: 400;
    padding: 3px 4px 2px 4px;
    width: auto;
    border-radius: 2px;
    z-index: 99;
}
.message, .notification, .con-login {
 width: auto;
    height: 50px;
    background: #ea212e;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    float: right;
    padding: 15px 15px 11px 15px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.con-login{
    padding-right: 0px;
}
.con-login-image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -6px;
}
.searchButton {
    width: 100%;
    font-size: 20px;
    color: rgba(255,255,255,0.3);
    background: transparent;
    border: none;
    padding: 5px 10px;
    box-shadow: none;
    outline: none;
}

.videoDiv {
    width: 100%;
    height: 240px;
    margin-top: 50px;
    position: relative;
    display: block;
}
.introvideo {
    width: 87%;
    height: 260px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    margin-left: 80px;
    margin-right: 15px;
}
.videoView {
    position: absolute;
    top: 10%;
    left: 10%;
    min-width: 100%;
    width: 100%;
    height: auto;
    z-index: 8;
    transform: translate(-10%, -10%);
    display: block;
}
.videoOverlay {
   position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 9;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.0)), color-stop(25%, rgba(0,0,0,0.0)), color-stop(50%, rgba(0,0,0,0)), color-stop(75%, rgba(0,0,0,0.3)),color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0);
}

.videoDivIcons {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: auto;
    min-height: 40px;
    z-index: 102;
}

.prolikes {
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 16px;
    position: relative;
    top: 5px;
    padding-right: 20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.transition {
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.prolikes > i {
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    position: relative;
    top: 1px;
}

.fbox:hover, .fbox:active, .fbox.active {
    color: #fff;
    background: #ef1616;
    border-color: #da0d0d;
}
.fbox {
    width: 100px;
    text-align: center;
    background: #f2f2f2;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 20px;
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    float: right;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.timeLine {
    display: block;
        width: 100%;
    margin: 30px 0px 10px 0px;
}
.top-intro {
    width: 100%;
    height: 100%;
    background: white;
    float: left;
}
.pro-profile {
    width: 100%;
    padding: 10px;
}
.pro-profile .top-photo img {
    width: 72px;
    height: 72px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px #ea212e;
    display: block;
    margin: 0;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -36px;
    top: -46px;
    z-index: 103;
    vertical-align: middle;
}
 .pro-profile .top-photo {
    background: #fff;
    padding: 30px 0px 5px 0px;
    margin: 0px;
    position: relative;

}
.intro{
        width: 100%;
    height: 100%;
    margin-top: 50px;
    display: block;
    clear: both;
}
.pro-name{
        width: 100%;
    display: block;
    color: #ea212e;
    padding: 8px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}
.pro-profile .top-photo > small {
    width: 100%;
    display: block;
    color: #333;
    padding: 10px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.pro-profile .top-photo > span {
    width: 100%;
    display: block;
    color: #ccc;
    padding: 0px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.pro-list{
    list-style: none;
    display: block;
    width: 80%;
    height: 60px;
    padding: 0;
    margin: 0 auto 10px auto;
    padding-left: 0 !important;
}
.pro-list-elem{
    width: 33.33%;
    display: table;
    float: left;
    list-style: none;
        font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.pro-list-elem-span{
    width: 100%;
    display: block;
    font-size: 12px;
    color: #333;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
}
.pro-list-elem-anchor{
    display: table-cell;
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    color: #999;
    line-height: 100%;
    text-decoration: none;
    border-style: solid;
    border-color: #e8e8e8;
    border-width: 1px 0px 1px 1px;
    background: #f8f8f8;
}

.lgttext {
    width: 100%;
    display: block;
    color: #ccc;
    padding: 0px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.tagline {
    color: #ea212e;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin: 20px 0px 12px 0px;
    padding: 0px 10px;
    position: relative;
    text-align: center;
}

.moreInfoBtn {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 100%;
    border: 1px solid #ccc;
    border-radius: 24px;
    text-align: center;
    color: #7c7c7c;
    margin: 0 auto;
    cursor: pointer;

}

.moreInfoi {
    position: relative;
    top: 4px;
    left: 0px;
}

.tprc {
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    height: 100%;
    position: relative;
}

.tprc > img.usrcmtimg { 
    width: 40px;
    height: 38px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 102;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.tprc textarea, .tprc textarea:focus {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 18px;
    min-height: 30px;
    resize: none;
    padding: 10px 10px 5px 50px;
    font-size: 14px;
    background: #fff;
    border: 0px solid #ddd;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
}

.postDiv {
    display: inline;
    float: left;    
}

.procmtbtn {
    width: 100%;
    height: 100%;
    padding-top : 10px;
}

.procmtbtn > .procmtfa {
        width: 30px;
    height: 28px;
    text-align: center;
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    line-height: 30px;
}

.procmtbtn > .procmtfa > i {
    font-size: 18px;
    color: #999;
}

.white-content{
    padding: 15px 10px 2px 10px;
    float: left;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    height: 100%;
    margin-bottom: 20px;
    display: block;
}


.white-content h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: left;
    margin: 0px 0px 10px 0px;
}

.white-content h2 > span.titlecount {
    width: auto;
    display: inline-block;
    padding: 4px 10px;
    float: right;
    background: #fde0e0;
    border: 1px solid #e8abab;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
}
.shotsbox {
    display: block;
    background: #fff;
    color: #7c7c7c;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 70px;
    margin: 0px 0px;
    position: relative;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}



.shotsbox > img {
    width: 60px;
    height: 40px;
    border: 0px solid #ccc;
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    vertical-align: middle;
}

.shotsbox h5 {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.shotsbox > span.cmttime {
    margin-top: 6px;
    font-size: 12px;
    color: #999;
    line-height: 16px;
    display: block;
}

.lgt-separator {
    position: relative;
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    clear: both;
    display: table;
    margin: 10px 0px;
    padding: 0;
}
.vmtag {
    display: inline-block;
    color: #ef1616;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
    float: right;
    line-height: 16px;
    margin: 0px 0px 10px 0px;
}

.btn-shrofile.red {
    background: #ef1616;
    border: 1px solid #da0d0d;
    color: #fff !important;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700 !important;
    border-radius: 2px !important;
    text-shadow: none !important;
    min-width: 60px;
    padding: 4px 20px 6px 20px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    opacity: 0.8;
}


.white-content.pd10 {
    padding: 10px;
    margin-top: 20px;
}

.videotab {
    width: 100%;
    float: left;
    display: block;
}

.videotab .vtab.active {
    background: #fff;
    color: #ea212e;
    border-bottom: 3px solid #ea212e;
    padding-bottom: 2px;
}

.videotab .vtab.w25 {
    width: 25%;
}

.videotab .vtab {
    width: auto;
    float: left;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: #f2f2f2;
    border-top: 1px solid #f2f2f2;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
}

.vtab {
    width: auto;
    float: left;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: #f2f2f2;
    border-top: 1px solid #f2f2f2;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
}








